body {
	background: #CEEBCF;
}

div {
	max-width: 800px;
	text-align: center;
	margin-right: 20%;
	margin-left: 20%;
}

h1 {
	color: #000;
	font-size: 26px;
	font-weight: bold;
	padding-bottom: 12px;
	text-align: center;
	font-family: 'Cabin', sans-serif;
}

h2 {
	color: #474747;
	font-size:22px;
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Cabin', sans-serif;
}

h3 {
	color: #757575;
	font-size: 18px;
	padding-bottom: 8px;
	text-align: center;
	font-family: 'Cabin', sans-serif;
}

p {
	color: #000;
	font-size: 14px;
	padding: 4px;
	text-align: center;
	font-family: 'Cabin', sans-serif;
}

img {
	text-align: center;
}